@import url('https://fonts.googleapis.com/css?family=Charm|Roboto:300,400,500,700');

/*--------------------------------------------body*/


/*----------------------------------Colour palette*/

/*--
Orange - #f47d4a
Fushia - #e1315b
Lemon drop - #ffec5c
Blue/Raspberry - #008dcb
Electric blue - #4897d8
banana #ffdb5c
watermelon #fa6e59
canteloupe #f8a055  
--*/

/*-----------------------------------------header*/

header {
	margin: 20px;
	padding: 20px;
}

.navbar {
	background-color: #ffec5c;
   	top: 0;
  	left: 0;
  	width: 100%;
  	border: 0;
  	font-family: 'Charm', cursive;
  	color: #008dcb;
  	font-size: 1.5em;
}

.menu:hover {
	color: rgba(0, 0, 0, 0.7);
}

.navbar-nav {
	float: none;
	text-align: center;
}

.navbar-default .navbar-brand {
    color: #008dcb;
    font-size: 1.5em;
}
.navbar-default .nav-link {
	color: #008dcb;
}



/*----------------------Body*/
/*------------------------------------------------Index page*/
.exercise-photo {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.profile-pic {
	width: 100%;
  	height: auto;
  	padding-bottom: 20px;
}

.about-me {
	font-family: 'Roboto', sans-serif;
	font-size: 120%;
}

/*-------------------------Testimonials*/
hr {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-color: #4897d8;
}

.testimonal-headings {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #e1315b;
}

.testimonials {
	margin: 30px;
	padding-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: block;
    text-align: center;     
}

.testimonial-photo {
	border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    
}



.client-name {
	font-weight: 700;
	color: #f47d4a;
	font-size: 120%;
}

/*------------------------------------------------Contact page*/
.contact-form {
	font-family: 'Charm', cursive;
	font-weight: 700;
	color: #008dcb;
	font-size: 1.5em;
	padding: 30px;	
	width: 90%;
	height: 90%;
	border: 5px solid #fa6e59 ;
	border-radius: 25px;
	padding: 10px;
	margins: 10px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #fa6e59;
    color: #ffffff;
}

.contact-header {
	font-family: 'Charm', cursive;
	font-weight: 700;
	color: #008dcb;
	text-align: center;
	padding: 20px;
}

.contact-info-bd {
	font-family: 'Charm', cursive;
	font-weight: 700;
	color: #f47d4a;
	text-align: center;
	padding: 20px;

}

.contact-info-bd h1 {
	color: #e1315b;
}
/*------------------------------------------------footer*/

footer {
	background-color: #ffec5c;
	font-family: 'Charm', cursive;
	color: #008dcb;
	margin-top: 70px;
}

footer .logo {
	text-align: center;
	margin: 0 auto;
}

footer .contact-details {
	text-align: center;
	margin: 20px auto;
	font-weight: 700;
}

footer .social-links {
	text-align: center;
	margin: 30px auto;
}

.fa-social-icons li a i{
	color: #008dcb;
	font-size: 30px;
	display: inline-block;
	transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-pinterest:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: rgba(0, 0, 0, 0.7);
}



/*--------------------------------------------media queries*/
 
@media(min-width: 768px) {
	.contact-form {
		width: 70%;
		height: 70%;
		border: 10px solid #fa6e59 ;
		border-radius: 25px;
		padding: 10px 0px 10px 0px;
		margins: 20px;
	}

}

